<div *ngIf="mode==='view'">
  {{event.name}}, {{event.date | date }}
    <button (click)="onEdit()" *ngIf="isBookmark === false">edit</button>
  <button   (click)="onDeleteButtonClicked()" *ngIf="isBookmark === false">Delete</button>
    <button (click)="onButtonClicked()">{{isBookmark === true ? 'remove from bookmark' : 'bookmark'}}</button>
</div>


<div *ngIf="mode==='edit'">
    <input type="text" placeholder="{{event.name}}" name="{{event.name}}" [(ngModel)]="eventClone.name">
    <input type="date"
           [ngModel]="eventClone.date | date:'yyyy-MM-dd'"
           (ngModelChange)="eventClone.date = $event"
           name="dt"
           class="form-control form-control-rounded" #searchDate >
    <button (click)="onSaveButtonClicked()">save</button>
    <button (click)="onCancelButtonClicked()">cancel</button>
    <br>
</div>


