<div *ngIf="mode==='view'">
  {{event.name}}, {{event.date | date }}
    <button (click)="onEdit()" *ngIf="isBookmark === false">edit</button>
    <button (click)="onButtonClicked()">{{isBookmark === true ? 'remove from bookmark' : 'bookmark'}}</button>
</div>


<div *ngIf="mode==='edit'">
    <input type="text" placeholder="{{event.name}}" name="{{event.name}}" [(ngModel)]="eventClone.name">
    <input type="date" placeholder="{{event.date}}" name="{{event.date}}" [(ngModel)]="eventClone.date">
    <button (click)="onSaveButtonClicked()">save</button>
    <button (click)="onCancelButtonClicked()">cancel</button>
    <br>
</div>


