<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
</head>
<body>

<div class="titlebox" >
<h1>Tutorial!</h1>
</div>

<div>
  <ul>
    <li *ngFor="let message of mail.messages">{{message.text}}</li>
  </ul>

  <app-simple-form
    *ngFor="let message of mail.messages"
    [message]="message.text"
    (update)="onUpdate(message.id, $event.text)"
  >
</div>

<app-simple-form></app-simple-form>

</body>
</html>

<router-outlet></router-outlet>
