<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hello, world!</title>
</head>
<body>

<div class="titlebox" >
  <h1>Mittelalter Events!</h1>
</div>

<br>

<div class="smalTitlebox">
  <h2>Events</h2>
  <app-event-editor></app-event-editor>
  <input type="name">
  <input type="date" name="eventday">
  <button>Eintragen</button>
  <br>
  <ul>
    <li *ngFor="let Event of events">
      {{ Event.name }}
      {{ Event.date }}
      {{ Event.isBookmarked }}
    </li>
  </ul>
  <p *ngIf="events.length > 3">
</div>

<br>

<div class="smalTitlebox">
  <h2>Meine Events</h2>
  <app-event-editor></app-event-editor>
</div>

</body>
</html>

<router-outlet></router-outlet>
